NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_YGGDRASIL_API_ROOT=http://localhost:8080/api/yggdrasil/
NEXT_PUBLIC_ICONFONT_SYMBOL_URL=
NEXT_PUBLIC_ICONFONT_SYMBOL_INTEGRITY=
NEXT_PUBLIC_CSP_CONNECT_ORIGINS=
NEXT_PUBLIC_CSP_IMAGE_ORIGINS=
NEXT_PUBLIC_CSP_MEDIA_ORIGINS=
NEXT_PUBLIC_CSP_FONT_ORIGINS=
